@import '../variables';
@import '../base/base';

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    position: relative;
    box-sizing: border-box;

    table {
        font-size: 14px;
    }

    tr {
        background-color: #00000000;

        &.jump-player {
            background-color: var(--highlight-color-2);
        }
    }

    td {
        padding: 8px;
    }

    .leaderboard-filter-cont {
        width: 360px;
    }

    .leaderboard-table-cont {
        border-top: 2px solid var(--highlight-color-1);
        border-radius: 2px;
        overflow: auto;
        width: 360px;
        background: var(--bg-color-tone-0);

        position: relative;
    }

    .col-rank {
        width: 40px;
    }

    .col-wincount {
        width: 60px;
    }
}

.lb-page-filter {
    .leaderboard-filter-chips {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
