@import '../variables';
@import '../base/base';

.leaderboard-filter-cont {
    margin: 0 8px 12px 8px;
}

.leaderboard-filter-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.leaderboard-filter-chip {
    @include chip;

    .leaderboard-filter-chip-text {
        flex: 1 1 0;
    }

    .leaderboard-chip-text {
        font-weight: bold;
        margin: 0 8px;
    }
}

.date-filters-group {
    @include option-buttons;
    margin: 8px 0;
}

.date-range-option {
    @include option-button;
}

.custom-range-cont {
    margin-left: 4px;
}
