@import '../variables';

.sandbox-section {
    margin-bottom: 8px;

    & > header {
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 2px;
        background-color: var(--bg-color-tone-2);
        position: relative;

        cursor: pointer;

        .section-header-text {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .section-icon {
            position: absolute;
            padding: 8px;
            right: 8px;
            top: 4px;
        }
    }
}

.sandbox-charts {
    display: grid;
    gap: 8px;

    .chart-card {
        min-height: 400px;
        overflow-x: hidden;
    }
}

.custom-table-cont {
    @include card-cont;
}

@media screen and (min-width: 1000px) {
    .sandbox-charts {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .chart-card {
            &.double-width {
                grid-column: span 2;
            }
            &.single-width {
                grid-column: span 1;
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .sandbox-charts {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .chart-card {
            &.double-width {
                grid-column: span 1;
            }
            &.single-width {
                grid-column: span 1;
            }
        }
    }
}

.chart-builder-cont {
    .chart-card {
        height: 400px;
    }

    .chart-builder-section {
        @include card-cont;

        margin: 8px 0;

        .chart-builder-section-body {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 8px 16px;
            justify-items: start;
            padding: 8px 16px;
        }

        .filter-cont {
            width: 100%;
        }
    }

    .chart-builder-row-label {
        font-weight: bold;
    }

    .chart-builder-row-body {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
    }

    .pie-percent-selector {
        width: 80px;
    }

    .group-selector-cont, .interval-selector-cont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px 16px;

    }

    .interval-selector {
        width: 80px;
    }

    .unit-selector {
        width: 100px;
    }

    .add-series-button {
        font-size: 13px;

        i {
            margin-left: 8px;
        }
    }
}

.chart-type-options {
    @include option-buttons;

    .chart-type-option {
        @include option-button;
    }
}

.series-entry-cont {
    justify-self: stretch;

    .series-row {
        display: flex;
        align-items: center;

        margin: 8px 0;
    }

    .series-config {
        flex: 1 1 0;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    .series-warning {
        color: $highlight-caution;
    }
}

.word-cloud-cont {
    height: 400px;
    width: 100%;
    overflow-y: hidden;
}

.word-cloud-frame {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    border: none;
}

.fullscreen-word-cloud {
    @include card-cont;

    position: fixed;
    z-index: 100;

    top: 0px;
    left: 0px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    margin: 8px;

    .close-button {
        position: absolute;
        right: 0px;
    }
}
