@import '../variables';

.chart-card {
    position: relative;

    display: flex;
    flex-direction: column;

    @include card-cont;

    > .chart-container {
        flex: 1 0 0;
        overflow: hidden;
        padding: 0 16px 16px;
    }

    .recharts-wrapper {
        .recharts-text {
            font-size: 12px;
            @include no-select;
        }

        .recharts-label {
            fill: var(--fg-color);
        }

        .recharts-cartesian-axis-tick-value {
            fill: var(--fg-color);
        }
    }

    header {
        @include no-select;

        .chart-header-buttons {
            position: absolute;
            top: 2px;

            &.float-left {
                left: 4px;
            }

            &.float-right {
                right: 4px;
            }

            .button {
                padding: 4px 8px;
            }
        }
    }
}

.chart-tooltip-cont {
    background-color: var(--bg-color-tone-1);
    padding: 4px 8px;
    box-shadow: 1px 1px 5px 0px var(--shadow-color);
    border-radius: 4px;

    .chart-tooltip-header {
        font-weight: bold;
        margin: 4px 0;
    }

    .chart-tooltip-body {
        display: grid;
        grid-template-columns: auto auto;
    }

    .chart-tooltip-cell {
        margin: 4px 0;
    }

    .chart-tooltip-username {
        margin-right: 8px;
    }

    .chart-tooltip-count {
        justify-self: end;
    }
}

// Hacks to avoid legend overlapping the chart
// Check that this still works if recharts gets updated!
.with-vertical-legend {
    .recharts-legend-wrapper {
        right: 0 !important;
    }
}

.with-horizontal-legend {
    .recharts-legend-wrapper {
        bottom: 0 !important;
    }
}
