@import '../variables';

.app-toolbar {
    @include toolbar-main;

    padding: $toolbar-padding;
    height: $toolbar-height;
    box-shadow: 0px 1px 4px 0px var(--shadow-color);
    z-index: 1;

    position: sticky;
    top: 0;

    display: flex;

    .toolbar-block-left {
        flex: 1 1 0;
        min-width: 0;
        display: flex;
    }

    .toolbar-block-right {
        display: flex;
    }

    img.snoo-icon {
        cursor: pointer;
        max-height: 32px;
        width: auto;
        height: auto;
    }

    input[type="text"] {
        color: var(--header-fg-color);
    }
}

.tb-module-route {
    margin-left: 16px;
    display: flex;
    align-items: center;

    flex-shrink: 1;
    min-width: 0;

    font-size: 16px;

    .tb-module-item:not(:last-child) {
        margin-right: 8px;
    }

    .tb-module-title {
        overflow-x: hidden;
        white-space: nowrap;
        flex-shrink: 1;
        min-width: 0;
    }
}

@media screen and (max-width: 599px) {
    .app-toolbar:not(.tb-modules-shown) {
        .tb-module-item:not(.tb-module-title) {
            display: none;
        }
    }

    .icon-button-label {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .tb-module-item input {
        width: 150px;
    }
}

@media screen and (min-width: 600px) {
    .tb-modules-toggle {
        display: none;
    }
}
