@import '../variables';

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    box-sizing: border-box;
    height: 32px;
    padding: 5px 10px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
    @include no-select;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .left-icon {
        margin-right: 8px;
    }

    &:not(.primary):hover {
        text-shadow: 0px 0px 5px var(--shadow-color);
    }

    &.active {
        box-shadow: 0px 0px 4px $highlight-info inset;
    }

    &.primary {
        background-color: darken($highlight-info, 4);
        color: white;

        &:hover {
            background-color: darken($highlight-info, 14);
        }
    }
}

.button-row {
    .button {
        &:not(:first-child) {
            margin-left: 2px;
        }
        &:not(:last-child) {
            margin-right: 2px;
        }
    }
}
