.data-cont {
    & > .data-viewport {
        width: 100%;
        overflow-x: auto;
        border-bottom: 2px solid var(--header-bg-color);
    }

    & > header {
        height: 40px;
        display: flex;
        align-items: center;

        .header-text {
            font-size: 16px;
            flex: 1 0 0;
            padding: 0 16px;
        }
    }

    & .page-buttons {
        margin: 0;

        &.footer-page-buttons {
            justify-content: flex-end;
            background-color: var(--bg-color);
        }

        .button {
            border: none;
            border-radius: 0;
            background-color: var(--header-bg-color);
            color: var(--header-fg-color);
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 0;
        }
    }
}
