.app-footer {
    display: flex;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    background-color: var(--bg-color-tone-1);
    border-top: 1px solid var(--bg-color-tone-2);

    img {
        height: 60px;
        margin: 8px;
    }
}

.footer-links {
    flex: 1 0 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer-link-group {
    flex: 0 1 200px;

    .link-group-header {
        font-weight: bold;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        margin: 8px 0;
    }
}

.app-info-col {
    flex: 0 0 200px;

    .app-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .app-desc {
        font-style: italic;
        padding-left: 4px;
    }
}
